/EmployeeTaxCalculator.class
/EvenDigitsSum.class
/FarmerProblem.class
/Flight.class
/Flight1.class
/Flight2.class
/Flight3.class
/Flight4.class
/Flight5.class
/Grades.class
/HelloWorld.class
/OddDigitsSum.class
/PerfectSquare.class
/SecondLargestDigit.class
/SeriesSum.class
/Hello.class
